@keyframes Logo-breath {
  0% {
    opacity: 0.5;

  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes App-button {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes Photos-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}