.main {
  height: 100%;
  section {
    margin: auto;
    height: 55%;
    width: 70%;
    overflow-y: auto;
    h4 {
      font-size: 18px;
      color: #fff;
      & + div {
        margin-top: 15px;
      }
    }
  }
}