footer {
  margin: 0;
  height: 15%;
}
.row {
  height: 100%;
  text-align: center;
}
.row .button {
  font-size: 30px;
  border: none;
}
.row .button:hover {
  color: #f46b45;
}
.content img {
  height: 200px;
  width: 200px;
}
/*# sourceMappingURL=footer.module.css.map */