@keyframes Logo-breath {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App-button {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes Photos-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  height: 30%;
  position: relative;
  text-align: center;
}
header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: Logo-breath 3s infinite ease-in-out;
}
/*# sourceMappingURL=header.module.css.map */