@import "animations";

header {
  height: 30%;
  position: relative;
  text-align: center;
}

header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: Logo-breath 3s infinite ease-in-out;
}