body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2c3e50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #3498db);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #3498db);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main {
  height: 100%;
}
/*# sourceMappingURL=index.module.css.map */