.main {
  height: 100%;
  section{
    margin: auto;
    height: 55%;
    width: 70%;
    overflow-y: auto;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    .back {
      position: absolute;
      right: 10px;
      top: 50px;
    }
    article {
      padding: 10px;
    }
    button {
      margin: 20px;
    }
    sup {
      left: 70px;
      top: -18px;
    }
  }
}