@keyframes Logo-breath {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes App-button {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes Photos-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  text-align: center;
  font-size: 10px;
  height: 100%;
}
.row {
  height: 55%;
  text-align: center;
}
.col-item {
  height: 200px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  position: relative;
}
.col-item div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.button {
  color: #ffffff;
  font-size: 50px;
  height: 52px;
  width: 52px;
  position: relative;
  border: none;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.button i {
  animation: App-button 2s ease 3;
  position: absolute;
  top: 0;
  left: 0;
}
.button + p {
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: color 2s ease;
  -moz-transition: color 2s ease;
  -o-transition: color 2s ease;
  transition: color 2s ease;
}
.button:hover {
  transform: translateY(-15px);
  color: #f46b45;
}
.button:hover + p {
  color: #f46b45;
}
.about {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.desc {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
}
.desc p {
  margin-right: 8px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.85);
}
/*# sourceMappingURL=main.module.css.map */