@import "animations";

.photos {
  height: 85%;
  width: 100%;
  .child {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    animation: Photos-in 1s linear;
  }
  &>div{
    height: 100%;
    float: left;
    position: relative;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 80%;
    }
  }
  .photo-mid {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border-left: rgba(255, 255, 255, 0.5) 1px solid;
    border-right: rgba(255, 255, 255, 0.5) 1px solid;
    width: 80%;
    img {
      max-width: 90%;
    }
    .article {
      position: absolute;
      top: 20%;
      left: 10%;
      z-index: 99;
      min-width: 20%;
      h3, h4{
        line-height: 35px;
        background-color: rgba(245, 255, 219, 0.64);
      }
      h3{
        margin-bottom: 3px;
      }
      h4 {
        text-align: right;
      }
    }
  }
  .photo-left {
    width: 10%;
    overflow: hidden;
    .article {
      display: none;
    }
    img {
      max-width: 250%;
      left: -25%;
    }
  }
  .photo-right {
    width: 10%;
    overflow: hidden;
    .article {
      display: none;
    }
    img {
      max-width: 250%;
      left: 125%;
    }
  }
}