@import "animations";

.container {
  text-align: center;
  font-size: 10px;
  height: 100%;
}

.row {
  height: 55%;
  text-align: center;
}

.button {
  color: #ffffff;
  font-size: 30px;
  position: relative;
  border: none;
  i {
    position: absolute;
    top: 0;
    left: 0;
  }
  &:hover {
    animation: App-button 4s ease infinite;
    color: #f46b45 !important;
  }
}